version: '3.8'

services:
  django:
    build: .
    container_name: django_app
    command: conda run --no-capture-output -n myenv gunicorn Pixel.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - celery
    env_file:
      - .env

  celery:
    build: .
    container_name: celery_worker
    command: >
      sh -c "celery -A Pixel purge -f && conda run --no-capture-output -n myenv celery -A Pixel worker --loglevel=info"
    depends_on:
      - django
    env_file:
      - .env
    restart: always

  celery-beat:
    build: .
    container_name: celery_beat
    command: conda run --no-capture-output -n myenv celery -A Pixel beat --loglevel=info
    depends_on:
      - django
      - celery
    env_file:
      - .env
    restart: always
