django
djangorestframework
django-cors-headers
dj-database-url
django-environ
gunicorn
djangorestframework-simplejwt
mysqlclient
python-decouple
python-dotenv
whitenoise
psycopg2-binary
vercel-blob
celery[redis]
redis
google-auth
google-auth-oauthlib
google-auth-httplib2
channels
channels_redis
daphne
django-jet-reboot
cachecontrol
sib-api-v3-sdk
pytz