version: '3.8'

services:
  django:
    build: .
    container_name: django_app
    command: conda run --no-capture-output -n myenv gunicorn Pixel.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - celery
    env_file:
      - .env

  redis:
    image: "redis:latest"
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

  celery:
    build: .
    container_name: celery_worker
    command: conda run --no-capture-output -n myenv celery -A Pixel worker --loglevel=info
    depends_on:
      - redis
      - django
    env_file:
      - .env
